@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;  
}


@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(80px);
    transform: translateY(80px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(80px);
    transform: translateY(80px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.bg-red-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #D62828 -78.47%,
    #170000 91.61%
  );
}

.bg-red-gradient-2 {
  background: #D62828;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93291E, #D62828);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93291E, #D62828); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-red-gradient-3 {
  background: #EB5757;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #000000, #EB5757);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #000000, #EB5757); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}